*{
    padding: 0;
    margin: 0;
}

.container{
    padding: 2vh 5vw;
    background-color: red;
}
.logo{
    display: inline-block;
}

.navbar .logo > h1{
    display: inline-block;
    
}

nav{
    display: inline-block;
    
    
}

 ul{
    display: inline-block;
    margin-left: 25vw;

        
    
}
li{
    display: inline-block;
    margin: 0 2vw;
    
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}
.btn{
    display: inline-block;
    padding: 0.5vh 1vw;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    margin-left: 20vw;
    transition: all 0.3s ease;
}
.btn:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.hero{
    background-color: white;
    display: inline-block;
    width: 50vw;
    height: 90vh;
    margin-top: 2vh;
    position: relative;
    

    
}
.img{
    background-color: white;
    display: block;
    width: 49vw;
    height: 90vh;
    margin-top: 0;
    margin-left: 2vw;
    position:relative;
    float: right;

    
    margin-left: 50vw;
    margin-top: -90vh;
}

#heading > pre h1 {
    font-family: 'Arial', sans-serif;
    font-size: 4vw;
    color: black;
    margin: 10vh 0 0 10vw;
}
#subheading > pre {
    font-family: 'Arial', sans-serif;
    font-size: 1.5vw;
    color: black;
    margin: 2vh 0 0 10vw
}


.hero > .book-btn{
    display: inline-block;
    padding: 0.5vh 1vw;
    background-color: black;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 5px;
    margin-left: 15vw;
    margin-top: 5vh;
    height: 10vh;
    width: 15vw;
    transition: all 0.3s ease;
}
.hero > .book-btn:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.img > img{
    width: 40vw;
}


/* table */
@media (max-width: 768px) and (max-height: 1024px) {
    ul{margin-left:  5vw; }

    .btn{margin-left: 5vw;}

   .hero > .book-btn{width: 29vw;
    height: 6vh;
    margin-left: 10vw;}

    #heading > pre h1{
        font-size: 2.5rem;
    }

    #subheading > pre{
        font-size: 1rem;
    }

    

    .img{
        width: 40vw;
        height: 50vh;
    }

    .img > img{
        margin-top: 6vh;
    
        width: 90%;
    }
}


/* mobile */
@media (max-width:375px) and (max-height: 747px){
    ul{display: none;}
   #heading > pre > h1{
    font-size: 1.7rem;
    
   }
   #subheading > pre{
    font-size: 0.9rem;

   }

   .img{
    height: 28vh;
    margin-top: -44vh;
    margin-left: 20vw;
    float: left;
   }

   .img > img{
    width: 70vw;
    

   }

   .btn{
    margin-left: 10vh;
    
   }
  .hero > .book-btn{
    width: 50vw;
    font-size: 1rem;
   }
}



